body{
    height: 400vh;
    margin-left: 17%;
    margin-right: 17%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(68deg, rgba(32,33,36,1) 1%, rgba(99,71,139,1) 7%, rgba(156,118,235,1) 92%, rgba(28,28,28,1) 99%);
  }
  
  @media(max-width: 1500px){
    body{
      margin-left: 0.5%;
      margin-right: 0.5%;
    }
  }
  .add-btn{
   border-radius: 5px;
   padding: 0px 8px;
   border: none;
   margin: 20px 10px 20px 30px;
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   background: linear-gradient(152deg, rgba(182,89,189,1) 0%, rgba(119,61,201,1) 41%, rgba(62,36,212,1) 100%);
  }

  .remove-btn{
    margin: 20px 10px 0 800px;
    padding: 0px 6px;
    border-radius: 100px;
    left:85%;
    width: 3%;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
  }